<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<% include ../partials/cssLinks.ejs %>
</head>
<body>

    <% include ../partials/navbar.ejs %>

    <br><br><br><br>

    <div class="container">
		<h1>Log In</h1>
		<h5 style="color:red; font-weight:100; text-shadow:none;"><%=session.loginmessage%></h5>
		<form action="/auth/login" method="POST">
			<input type="text" name="username" placeholder="Username"></input><br>
			<input type="password" name="password" placeholder="Password"></input><br>
			<button type="submit">Submit</button><br>
		</form>

		<a href="/">Back to home</a>
	</div>

    <% include ../partials/jsLinks.ejs %>

</body>
</html>
