button:focus { outline: none; }

button {
  display: inline-block;
}

body {
  background-position: center;
  background-size: cover;
  background-color: #CDCDCD;
}

.General {
  height: 50vh;
  overflow: scroll;
}


.navbar {
  color: black;
  font-weight: bold;
  height: 80px;
  font-size: 20px;
  padding-top: 15px;
  border-bottom-style: groove;
  border-bottom-color: black;
  border-bottom-width: 1px;
}



.generalButton{
  margin: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color:inherit;
}

.homePre {
  display: block;
  padding: 20px;
  margin: 0;
  font-size: 14px;
  line-height: 2.3;
  color: #333;
  word-break: normal;
  word-wrap: normal;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre {
  display: inline;
  white-space: pre-line;
  font-family: 'Nanum Myeongjo', serif;
}

.createPrompt{
  text-align: center;
}

.mainEntButt{
  width: 30%;
  border-radius: 5px;
  border: none;
  background-color: inherit;
  font-size: 35px;
  box-shadow: 3px 5px 10px 0px black;
  font-family: 'Volkhov', serif;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
}

.selectPage {
  margin-top: 50px;
  height: 100px;
  display: block;
}

.pageForm {
  text-align: center;
}

#filterBox {
  height: 80vh;
  top: 100px;
  position: fixed;
  overflow: hidden;
  float: right;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
}

.entryInput {
  width: 70vw;
}

.filterButton{
  margin: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: 2px groove white;
  background-color:inherit;
}

.filterOption {
  display: block;
  height: 80%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: bolder;
  background-color:inherit;
}

.pageBtn {
  width:50px;
  height:100%;
  background-color: inherit;
  border: none;
  font-size: 25px;
  font-weight: bold;
  margin: 0 5px;
  text-align: center;
}

.filterTitle{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.filterInput{
  border-radius: 2px;
  width: 80%;
  box-shadow: 0px 0px 2px black;
  padding: 2px;
}

.entryLink {
 color: black;
}

.entryTitle {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  /* top: 200px; */
  /* position: absolute; */
  /* display: inline-block; */
  width: 800px;
  margin-left: 5%;
}

.topFilter {
  border-top: 3px groove black;
  border-right: 3px groove black;
}

.bottomFilter {
  border-bottom: 3px groove black;
  border-left: 3px groove black;
}

.entry {
  /* float: right; */
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 13px;
  line-height: 2;
  background-color: #e8e8e8;
  word-break: normal;
  word-wrap: normal;
  border: 2px groove #CCFFE1;
  border-radius: 4px;
  height: 40vh;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px black;
}

#preDis {
  display: block;
  padding: 40px;
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
  line-height: 3;
  color: #333;
  word-break: normal;
  word-wrap: normal;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#filterBox2 {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
      font-family: 'Volkhov', serif;
}

h4 {
    color: #598CF8;
    font-size: 14px;
    text-align: center;
    text-shadow: 0px 0px 0px black;
    font-weight: bold;
    line-height: 1.5;
}
.entryInfo {
  width: 30%;
  height: 40px;
  display: inline-block;
}


.welcome {
  text-align: center;
  margin: 0 auto;
}

.entryPDisplay {
  line-height: 1.1;
}

#navDB {
  font-family: 'Volkhov', serif;
  /* color: black; */
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 0px black;
  font-weight: bold;
  margin-right: 100px
}

.navDBL {
  padding-left: 3px;
  padding-top: 0px;
  /* border-left: 4px groove #598CF8; */
  border-top: 4px groove #FFF459;
}
.navDBR {
  padding-right: 3px;
  padding-top: 0px;
  /* border-right: 4px groove #598CF8; */
  border-bottom: 4px groove #4DFC9C;
}

@media (max-width: 770px){
  .navbar-collapse {
    background-color: red;
    text-align: center;
    background-color: white;
    width: 40%;
    float: right;
  }
  #filterBox2{
    display: none;
  }
  #entriesIndex {
    height: 95vh;
    position: relative;
  }
}
.titleDB{
text-align: center;
font-family: 'Heebo', sans-serif;
font-weight: 600;
font-size: 50px;
color: #598CF8;
text-shadow: 1px 1px black;
}

@media (max-width: 990px) {
  #filterBox {
    display: none;
  }
  #navDB {
    margin-right: 0;
  }
  .entryTitle{
    display: none;
  }
  .selectPage {
    height: 80px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    background: white
  }
  .pageForm {
    text-align: center;
    height: 10px;
  }
  #filterBox2 h5{
        color: #598CF8;
        font-size: 15px;
        text-align: center;
        text-shadow: 0px 0px 0px black;
        font-weight: bold;
        line-height: 1.5;
    }
  #filterBox2{
    display: inline-block;
    position: fixed;
    top: 65px;
    margin-top: 0px;
    height: 15vh;
    flex: none;
    text-align: center;
    float: none;
    border-radius: 4px;
    margin: auto;
  }
  #filterBox2 input {
    width: 50px;
  }
  .filterOption {
    display: inline-block;
    height: 5%;
    width: 15%;
    border-style: none;
    padding: 1px;
    vertical-align: middle;
    margin-bottom: 0px;
    float: left;
  }
  button{
    margin-top: 40px;
  }
  #entriesIndex {
    height: 75vh;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    float: none;
    margin: auto;
    text-align: center;
    background-color: none;
  }
  .filterOption {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 13px;
    line-height: 2;
    border-radius: 4px;
    height: 40vh;
    overflow: hidden;
  }
  .entry {
    float: none;
    margin: auto;
  }
  h4 {
      color: #598CF8;
      font-size: 20px;
      text-align: center;
      text-shadow: 0px 0px 0px black;
      font-weight: bold;
      line-height: 1.5;
  }
  .entryInfo {
    width: 80%;
    display: inline-block;
    font-size: 15px
  }
  .entryPDisplay {
    line-height: 1.5;
  }
}
