button {
  display: inline-block;
}

body {
  background-image: url('/images/blue.png');
  background-position: center;
  background-size: cover;
}

.navbar {
  background-color: #CCFFE1;
}

pre {
  display: inline;
  white-space: pre-line;
}

#filterBox {
  background-color: #CCFFE1;
  height: 90vh;
  position: fixed;
  overflow: hidden;
  float: right;
}

.filterOption {
  display: block;
  height: 100%;
  width: 25%
}

.entryLink {
  background-color: red;
  color: #598CF8
}

.entry {
  float: right;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-size: 13px;
  line-height: 2;
  color: #333;
  word-break: normal;
  word-wrap: normal;
  background-color: #CCFFE1;;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40vh;
  overflow: hidden;
}

#preDis {
  display: block;
  padding: 40px;
  margin: 0;
  font-size: 13px;
  line-height: 3;
  color: #333;
  word-break: normal;
  word-wrap: normal;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#filterBox2 {
  display: none;
}

@media (max-width: 990px) {
  #filterBox {
    display: none;
  }
  #filterBox2{
    display: block;
    background-color: #CCFFE1;
    position: fixed;
    height: 15vh;
    top: 15;
    text-align: center;
    float: none;
    border-radius: 4px;
    margin: auto;
  }
  #entriesIndex {
    height: 70vh;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    float: none;
    margin: auto;
    text-align: center;
  }
  .filterOption {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 13px;
    line-height: 2;
    border-radius: 4px;
    height: 40vh;
    overflow: hidden;
  }
  .entry {
    float: none;
    margin: auto;
  }
}

@media (max-width: 770px){
  #filterBox2{
    display: none;
  }
  #entriesIndex {
    height: 95vh;
    position: relative;
  }
}
