<!DOCTYPE html>
<html>
<head>
	<title>User Index</title>
	<% include ../partials/cssLinks.ejs %>
</head>
<body>
	
	<% include ../partials/navbar.ejs %>

	<br><br><br><br>


	<div class="container">
		<h1>User Index</h1>

		<hr>

		<%	for (let i = 0; i < users.length; i++) {	%>
				<a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
		<%	if ((session.usertype === 'admin' && users[i].usertype != 'admin') || session.username === users[i].username) {			%>
				<form action="/users/<%=users[i]._id%>/edit" method="GET"><button type="submit">Edit this user's account settings</button></form>
		<%	}											%>
				<br>
		<%	}	%>

		<hr>

		<a href="/users/new">Create a new user account</a><br>
		<a href="/">Back to home</a>
	</div>

	<% include ../partials/jsLinks.ejs %>


</body>
</html>
