<!DOCTYPE html>
<html>
<head>
	<title>User Index</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<h1>User Index</h1>

	<hr>

	<%	for (let i = 0; i < users.length; i++) {	%>
			<a href="/users/<%=users[i]._id%>"><%=users[i].username%></a><br>
	<%	}	%>

	<hr>

	<a href="/users/new">Create a new user account</a><br>
	<a href="/">Back to home</a>

</body>
</html>