<!DOCTYPE html>
<html>
<head>
	<title>Show user <%=user.displayname%></title>
<% include ../partials/cssLinks.ejs %>
</head>
<body>

	<% include ../partials/navbar.ejs %>

	<br><br><br><br>


	<div class="container">
		<h1>Show user <%=user.displayname%></h1>

		<hr>

		<p>
			Username: <%=user.username%></br>
			Display name: <%=user.displayname%><br>
		</p>

		<a href="/">Back to home</a>
	</div>

	<% include ../partials/jsLinks.ejs %>


</body>
</html>
