<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ../partials/cssLinks.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
<div style="padding:80px" class="jumbotron">

    <br><br>

  <a href="/home"><h4 style="font-size:30px">HOME</h4></a>

    <br><br>
    <h3>The Neuroscience Behind the Analysis</h3>
    At <a href="http://emphasis.ai/">Emphasis AI</a>, we believe that human understanding is an emergent property, arising from the operations, interactions, and combinations of several simple systems. We are currently building programs based on these systems. Each program will reveal a different pattern of cognition in language for readers and writers everywhere.
    <br><br>
    Our first program identifies sentence-level emphasis by analyzing language using a grid-like code. This grid-like code consists of a progression through a hexagonal lattice, which organizes information first in two dimensions, and then in three.
    <br><br>
    When representing language in two dimensions, our program makes use of a flat hexagonal lattice. When representing language in three dimensions, our program turns this hexagonal lattice into the equivalent of a face-centered cubic lattice.
    <br><br>
    All of these structures have precise parallels in contemporary neuroscience. Grid-like codes have been implicated in the organization of conceptual knowledge. Grid cells, which are thought to underlie the brain’s gridlike codes, create hexagonal lattices with their firing fields. These neurons have been tied to navigation through both two- and three-dimensional space.
    <br><br>
    Most importantly, grid cells are believed to play a role in the organization of memories and ideas.
    <br><br>
    Interested in learning more? Check out these resources.<br>
    <a href="https://medium.com/@emphasisai/the-neuroscience-behind-emphasis-ai-ee679f6648ef">Read “The Neuroscience Behind Emphasis AI” on Medium.</a><br>
    <a href="https://www.youtube.com/watch?v=mP7neeymcUY">Check out this video on grid cells and their AI applications by Numenta.</a><br>
    <a href="https://doellerlab.com/cognitive-space/">Learn about Doellerlab’s work in the field of cognitive space.</a>

  </div>

  </body>
  <% include ../partials/jsLinks.ejs %>
</html>
