<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ../partials/cssLinks.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
<div style="padding:80px" class="jumbotron">

    <br><br>

  <a href="/home"><h4 style="font-size:30px">HOME</h4></a>

    <br><br>
    <h3>What do the colors mean?</h3>
    Before it can determine the type of emphasis a sentence will produce, Emphasis AI has to identify the number of signs within it. Put simply, a sign is a unit of meaning. From a musical note to a facial expression, anything that means something to someone can be a sign.
    <br><br>
    In language, there are many categories of signs. Emphasis AI only analyzes one of these categories. This category contains nouns, pronouns, and verbs. It’s where the majority of emphasis in a sentence is produced.
    <br><br>
    Identifying these signs isn’t always as easy as counting the nouns, pronouns, and verbs in a sentence. Sometimes there are complications.
    <br><br>
    Yellow Sentences
    Has a short sentence ever made you laugh or caused your eyebrows to raise? If so, it was probably a yellow sentence. Containing anywhere from one to six signs, yellow sentences are too short to produce sentence-level emphasis. But this isn’t necessarily a bad thing.
    <br><br>
    The absence of sentence-level emphasis allows the individual words in a yellow sentence to shine. This means that word choice, word order, and metaphor stand out in these sentences.
    <br><br>
    Green Sentences
    Has a sentence ever left an impression on you? If so, it was probably a green sentence.Green sentences only have seven signs. While this makes them rare, it also makes them powerful.
    <br><br>
    Why? Because sentence-level emphasis appears in full force in the green sentence. This means that when you write a green sentence, an effect of some kind is almost guaranteed.
    <br><br>
    Blue Sentences
    Have the final words of a sentence ever stood out to you? If so, you were probably reading a blue sentence.
    <br><br>
    Blue sentences can have anywhere from eight to 13 signs. In these sentences, emphasis is concentrated in the final words. This usually causes the end of a blue sentence to leave a vivid impression.
    <br><br>
    Faded Sentences
    Some of the most beautiful sentences in literature are long sentences. But long sentences can also be some of the most difficult to write.
    <br><br>
    We think we know why this is the case. Our sentence-analysis system is based on a model of cognitive space. According to this model, the more signs you include in a sentence, the more space your sentence will take in your reader’s mind.
    <br><br>
    When a long sentence is well written, your reader will be immersed in its broad, beautiful expanse. But when a long sentence is not well written, your reader might get bored or even lost while reading it.

  </div>
  </body>
  <% include ../partials/jsLinks.ejs %>
</html>
