<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<h1>Home Page</h1>

	<a href="/users">Show all users</a><br/>
	<a href="/users/new">Create a new user</a><br/>
	<a href="/auth/login">Log In</a><br/>
	<a href="/auth/logout">Log Out</a><br/>
	<a href="/entries/new">New Entry</a><br/>

</body>
</html>
