<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/cssLinks.ejs %>
	</head>
	<body>

		<% include ../partials/navbar.ejs %>

	<br><br><br><br>


	<div class="container">
		<h2>DELETE ENTRY</h2>

		<h3>Are you sure you want to delete the entry</h3>
		<h3>"<%=entry.title%>"?</h3>
		<form action="/entries/<%=entry._id%>?_method=DELETE" method="post">
			<button type="submit">Yes, delete this entry</button>
		</form>

		<% include ../partials/jsLinks.ejs %>
	</div>

	</body>
</html>
